{%extends 'base.html'%}

{% block content %}
{{block.super}}
<br>
<br>

<div class="container" >
  <div class="row">
    <div class="col col-md-1 w3-hide-small">

    </div>
    <div class="col col-md-7">
      {% for photo in images%}
      <div class="w3-card" style="width:100%;">
        <header class="w3-container w3-light-grey">
            
        </header>
        <hr>
        <div class="w3-container">
          <img src="{{image.image.url}}" style="width:100%">
        </div>
        <hr>
        <footer class="w3-container">
          <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="far fa-heart" style="color: black !important;font-size: 30px;opacity: 0.7;"
                                        aria-hidden="true"></i></a>
                                &nbsp; &nbsp;
                                <a href="#">
                                    <i class="far fa-comment" aria-hidden="true" style="color:black;font-size: 30px;opacity: 0.7;font-weight: 5px !important;"></i></a>
                                <hr>

                            </li>
                        </ul>


                        <h5 style=" font-size: 20px !important;"><strong>{{image.profile.username}}</strong>
                            {{image.image_caption}}</h5>
                        <p>{{image.count_likes}} likes</p>
                        <p class=""> {{image.comment.count}} comments </p>
                        <div class="card-body">
                            {% for comment in comments %}
                            {% if comment.image_id == image.image_id%}
                            <br>
                            <h5 style=" font-size: 20px !important;"><strong>{{comment.commenter}}</strong>
                                {{comment.comment}}</h5>
                            <hr>

                            {% endif %}
                            {% endfor %}
                            <div class="comment-input-wrapper">
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                        <input class="add-comment" name="comment" id="comment{{image.image_id}}" type="text" placeholder="Comment on this image....">
                                    </form>
                                </div>
                        </div>
        </footer>
      </div>
      <br><br><br><br>
      {%endfor%}

    </div>
    <div class="col col-md-4 w3-hide-small">

    </div>

  </div>

</div>

{% endblock %}